In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import col, when, unix_timestamp
sc = SparkContext.getOrCreate()
df = spark.read.option("header",True).option("inferSchema",True).csv("C:/Users/Winsido/Desktop/VGP-week3-data.csv")
df.printSchema()

root
 |-- kit_id: integer (nullable = true)
 |-- participant_id: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- PM2-5: string (nullable = true)
 |-- PM10: string (nullable = true)
 |-- PM1-0: string (nullable = true)
 |-- NO2: string (nullable = true)
 |-- BC: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- event: string (nullable = true)

In [3]:
#On renome les colonnes
df = df.withColumn(
    ("PM2-5"),
    when(
        col("PM2-5") == "NULL",
        None
    ).otherwise(col("PM2-5"))
)
df = df.withColumn(
    ("PM10"),
    when(
        col("PM10") == "NULL",
        None
    ).otherwise(col("PM10"))
)
df = df.withColumn(
    ("PM1-0"),
    when(
        col("PM1-0") == "NULL",
        None
    ).otherwise(col("PM1-0"))
)
df = df.withColumn(
    ("NO2"),
    when(
        col("NO2") == "NULL",
        None
    ).otherwise(col("NO2"))
)
df = df.withColumn(
    ("activity"),
    when(
        col("activity") == "NULL",
        None
    ).otherwise(col("activity"))
)
df = df.withColumn(
    ("event"),
    when(
        col("event") == "NULL",
        None
    ).otherwise(col("event"))
)
df.show()

+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|kit_id|participant_id|               time|             lat|             lon|PM2-5|PM10|PM1-0| NO2|  BC|activity|event|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|    80|       9999964|2019-11-14 09:00:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:50|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:50|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:50|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:03:00|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:03:10|       48.771765|2.00590333333333| null|null| null|null|NULL|    null| null|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
only showing top 20 rows

In [4]:
df = df.withColumn('time',unix_timestamp('time', 'yyyy-MM-dd HH:mm:ss').alias('time'))
df.show()
df.printSchema()

+------+--------------+----------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|kit_id|participant_id|      time|             lat|             lon|PM2-5|PM10|PM1-0| NO2|  BC|activity|event|
+------+--------------+----------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|    80|       9999964|1573718400|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718410|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718420|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718430|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718440|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718450|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718460|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718470|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718480|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718490|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718500|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718510|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718520|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718530|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718540|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718550|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718560|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718570|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718580|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|1573718590|       48.771765|2.00590333333333| null|null| null|null|NULL|    null| null|
+------+--------------+----------+----------------+----------------+-----+----+-----+----+----+--------+-----+
only showing top 20 rows

root
 |-- kit_id: integer (nullable = true)
 |-- participant_id: integer (nullable = true)
 |-- time: long (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- PM2-5: string (nullable = true)
 |-- PM10: string (nullable = true)
 |-- PM1-0: string (nullable = true)
 |-- NO2: string (nullable = true)
 |-- BC: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- event: string (nullable = true)

In [5]:
#On remplace les valeur string "null" par la vrai valeur null
df = df.withColumn(
    ("BC"),
    when(
        col("BC") == "NULL",
        None
    ).otherwise(col("BC"))
)
df = df.withColumn(
    ("PM2-5"),
    when(
        col("PM2-5") == "NULL",
        None
    ).otherwise(col("PM2-5"))
)
df = df.withColumn(
    ("PM10"),
    when(
        col("PM10") == "NULL",
        None
    ).otherwise(col("PM10"))
)
df = df.withColumn(
    ("PM1-0"),
    when(
        col("PM1-0") == "NULL",
        None
    ).otherwise(col("PM1-0"))
)
df = df.withColumn(
    ("NO2"),
    when(
        col("NO2") == "NULL",
        None
    ).otherwise(col("NO2"))
)
df = df.withColumn(
    ("activity"),
    when(
        col("activity") == "NULL",
        None
    ).otherwise(col("activity"))
)
df = df.withColumn(
    ("event"),
    when(
        col("event") == "NULL",
        None
    ).otherwise(col("event"))
)

In [6]:
df.show()

+------+--------------+----------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|kit_id|participant_id|      time|             lat|             lon|PM2-5|PM10|PM1-0| NO2|  BC|activity|event|
+------+--------------+----------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|    80|       9999964|1573718400|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718410|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718420|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718430|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718440|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718450|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718460|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718470|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718480|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718490|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718500|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718510|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718520|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718530|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718540|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718550|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718560|48.7717766666667|        2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718570|48.7717466666667|2.00590833333333| null|null| null|null|null|    null| null|
|    80|       9999964|1573718580|48.7717466666667|2.00590833333333| null|null| null|null|null|    null| null|
|    80|       9999964|1573718590|       48.771765|2.00590333333333| null|null| null|null|null|    null| null|
+------+--------------+----------+----------------+----------------+-----+----+-----+----+----+--------+-----+
only showing top 20 rows

In [7]:
#Test
df.where(col("PM2-5").isNotNull()).show()

+------+--------------+----------+----------------+----------------+-----+----+-----+---+---+--------+-------------------+
|kit_id|participant_id|      time|             lat|             lon|PM2-5|PM10|PM1-0|NO2| BC|activity|              event|
+------+--------------+----------+----------------+----------------+-----+----+-----+---+---+--------+-------------------+
|    80|       9999964|1573804980|48.7717266666667|2.00586333333333|    3|   4|    4|  7|376|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573804990|48.7717266666667|2.00586333333333|    3|   4|    4|  7|376|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805000|48.7717266666667|2.00586333333333|    3|   4|    4|  7|376|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805010|48.7717266666667|2.00586333333333|    3|   4|    4|  7|376|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805020|48.7717266666667|2.00586333333333|    3|   4|    4|  7|376|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805030|48.7717266666667|2.00586333333333|    3|   4|    4|  7|376|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805760|48.7717316666667|         2.00585|    3|   3|    3|  6|362|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805770|48.7717316666667|         2.00585|    3|   3|    3|  6|362|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805780|48.7716833333333|2.00596833333333|    3|   3|    3|  6|362|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805790|48.7716833333333|2.00596833333333|    3|   3|    3|  6|362|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805800|48.7717216666667|2.00613833333333|    3|   3|    3|  6|362|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573805810|48.7717216666667|2.00613833333333|    3|   3|    3|  6|362|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573806540|       48.771845|2.00604333333333|    3|   3|    3|  5|426|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573806550|        48.77189|2.00580666666667|    3|   3|    3|  5|426|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573806560|        48.77189|2.00580666666667|    3|   3|    3|  5|426|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573806570|        48.77189|2.00580666666667|    3|   3|    3|  5|426|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573806580|        48.77189|2.00580666666667|    3|   3|    3|  5|426|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573806590|        48.77189|2.00580666666667|    3|   3|    3|  5|426|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573807320|       48.771755|2.00590333333333|    3|   3|    3|  6|460|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|1573807330|       48.771755|2.00590333333333|    3|   3|    3|  6|460|  Bureau|Arrêter De Cuisiner|
+------+--------------+----------+----------------+----------------+-----+----+-----+---+---+--------+-------------------+
only showing top 20 rows

In [8]:
df = df.sort("time")
df.show(10)
df.printSchema()

+------+--------------+----------+----------------+--------+-----+----+-----+----+----+--------+-----+
|kit_id|participant_id|      time|             lat|     lon|PM2-5|PM10|PM1-0| NO2|  BC|activity|event|
+------+--------------+----------+----------------+--------+-----+----+-----+----+----+--------+-----+
|    80|       9999964|1573718400|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718410|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718420|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718430|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718440|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718450|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718460|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718470|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718480|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
|    80|       9999964|1573718490|48.7717766666667|2.006005| null|null| null|null|null|    null| null|
+------+--------------+----------+----------------+--------+-----+----+-----+----+----+--------+-----+
only showing top 10 rows

root
 |-- kit_id: integer (nullable = true)
 |-- participant_id: integer (nullable = true)
 |-- time: long (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- PM2-5: string (nullable = true)
 |-- PM10: string (nullable = true)
 |-- PM1-0: string (nullable = true)
 |-- NO2: string (nullable = true)
 |-- BC: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- event: string (nullable = true)

In [9]:
#Conversion des types PM2.5, BC ... en double
#Remarque dans notre fichier de donnée j'ai eliminer le "+00" a chaque fois
from pyspark.sql.types import DoubleType
df = df.withColumn("PM2-5",df["PM2-5"].cast(DoubleType()))
df = df.withColumn("PM10",df["PM10"].cast(DoubleType()))
df = df.withColumn("PM1-0",df["PM1-0"].cast(DoubleType()))
df = df.withColumn("NO2",df["NO2"].cast(DoubleType()))
df = df.withColumn("BC",df["BC"].cast(DoubleType()))
df.printSchema()

root
 |-- kit_id: integer (nullable = true)
 |-- participant_id: integer (nullable = true)
 |-- time: long (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- PM2-5: double (nullable = true)
 |-- PM10: double (nullable = true)
 |-- PM1-0: double (nullable = true)
 |-- NO2: double (nullable = true)
 |-- BC: double (nullable = true)
 |-- activity: string (nullable = true)
 |-- event: string (nullable = true)

In [10]:
#Debut implementation type 
#Et test sur un exemple
from pyspark.sql.types import (StructField,StructType, BooleanType, DoubleType,LongType)
data_schema = [StructField('a', DoubleType(),True),
              StructField('b', DoubleType(),True),
              StructField('c', DoubleType(),True),
              StructField('r', BooleanType(),True),
              StructField('t1', LongType(),True),
              StructField('t2', LongType(),True)]
ureal_schema = StructType(fields=data_schema)
dff = spark.read.csv("C:/Users/Winsido/Desktop/test.csv",schema=ureal_schema)
dff.show()
dff.printSchema()

+---+---+---+-----+---+---+
|  a|  b|  c|    r| t1| t2|
+---+---+---+-----+---+---+
|0.0|1.0|2.0| true|  0|  1|
|0.0|2.0|2.0|false|  2|  3|
+---+---+---+-----+---+---+

root
 |-- a: double (nullable = true)
 |-- b: double (nullable = true)
 |-- c: double (nullable = true)
 |-- r: boolean (nullable = true)
 |-- t1: long (nullable = true)
 |-- t2: long (nullable = true)

In [11]:
#Initialisation de urealPM2_5
urealPM2_5 = sqlContext.createDataFrame(sc.emptyRDD(),ureal_schema)
urealPM2_5.show()

+---+---+---+---+---+---+
|  a|  b|  c|  r| t1| t2|
+---+---+---+---+---+---+
+---+---+---+---+---+---+

In [111]:
#Creation d'une nouvelle DF temp pour faire la jointure et regrouper les tuples (1 avec 2 , 3 avec 4, ect...)
temp = df
#On renome les colonnes de temp pour qu'il y'ait pas d'ambiguité
temp = temp.withColumnRenamed('kit_id','kit_id_temp')
temp = temp.withColumnRenamed('participant_id','participant_id_temp')
temp = temp.withColumnRenamed('time','time_temp')
temp = temp.withColumnRenamed('lat','lat_temp')
temp = temp.withColumnRenamed('lon','lon_temp')
temp = temp.withColumnRenamed('PM2-5','PM2-5_temp')
temp = temp.withColumnRenamed('PM10','PM10_temp')
temp = temp.withColumnRenamed('PM1-0','PM1-0_temp')
temp = temp.withColumnRenamed('NO2','NO2_temp')
temp = temp.withColumnRenamed('BC','BC_temp')
temp = temp.withColumnRenamed('activity','activity_temp')
temp = temp.withColumnRenamed('event','event_temp')
#temp.printSchema()
#df.show()
#On decremente le time de temp pour pouvoir faire la jointure avec == (car j'ai pas pu le faire avec == time_temp + 10)
temp = temp.withColumn('time_temp', temp.time_temp - 10)
#temp.show()
#On fait la jointure
x = df.join(temp, [df['time'] == temp['time_temp'] ])
# On decremente le time_temp pour revenir a un etat cohérent
y = x.select(x.lat,x.lon,x['time'],x['time_temp'] + 10, x.lat_temp,x.lon_temp, x['PM2-5'], x['PM2-5_temp'])
#y.withColumnRenamed('(time_temp + 10)', 'time_temp')
y.printSchema()
#x.show()
#x.printSchema()
#df.show()
#df.select(df['time'] + 10).show()

root
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- time: long (nullable = true)
 |-- (time_temp + 10): long (nullable = true)
 |-- lat_temp: double (nullable = true)
 |-- lon_temp: double (nullable = true)
 |-- PM2-5: double (nullable = true)
 |-- PM2-5_temp: double (nullable = true)

In [112]:
#Test affichage si ça a bien marché
y.show()

+----------------+----------------+----------+----------------+----------------+----------------+-----+----------+
|             lat|             lon|      time|(time_temp + 10)|        lat_temp|        lon_temp|PM2-5|PM2-5_temp|
+----------------+----------------+----------+----------------+----------------+----------------+-----+----------+
|48.7717766666667|        2.006005|1573718400|      1573718410|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718410|      1573718420|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718420|      1573718430|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718430|      1573718440|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718440|      1573718450|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718450|      1573718460|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718460|      1573718470|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718470|      1573718480|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718480|      1573718490|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718490|      1573718500|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718500|      1573718510|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718510|      1573718520|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718520|      1573718530|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718530|      1573718540|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718540|      1573718550|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718550|      1573718560|48.7717766666667|        2.006005| null|      null|
|48.7717766666667|        2.006005|1573718560|      1573718570|48.7717466666667|2.00590833333333| null|      null|
|48.7717466666667|2.00590833333333|1573718570|      1573718580|48.7717466666667|2.00590833333333| null|      null|
|48.7717466666667|2.00590833333333|1573718580|      1573718590|       48.771765|2.00590333333333| null|      null|
|       48.771765|2.00590333333333|1573718590|      1573718600|       48.771765|2.00590333333333| null|      null|
+----------------+----------------+----------+----------------+----------------+----------------+-----+----------+
only showing top 20 rows

In [155]:
#On filtre les null
y_without_null = y.where(y['PM2-5'].isNotNull() & y['PM2-5_temp'].isNotNull())
#y_without_null.show()
urealPM2_5 = y_without_null.select(y_without_null.columns).rdd.map(lambda r : (0, ((r[7]-r[6])/(r[3]-r[2])), (((r[6]*r[3])-(r[7]*r[2]))/((r[3]-r[2]))),False,r[2],r[3])).toDF()
#On renome les colonnes de UREAL (car ça a était modifié)
urealPM2_5 = urealPM2_5.withColumnRenamed('_1','a')
urealPM2_5 = urealPM2_5.withColumnRenamed('_2','b')
urealPM2_5 = urealPM2_5.withColumnRenamed('_3','c')
urealPM2_5 = urealPM2_5.withColumnRenamed('_4','r')
urealPM2_5 = urealPM2_5.withColumnRenamed('_5','t1')
urealPM2_5 = urealPM2_5.withColumnRenamed('_6','t2')
#Et la on arrive a avoir UREAL de PM2.5
urealPM2_5.show()

+---+----+-------------+-----+----------+----------+
|  a|   b|            c|    r|        t1|        t2|
+---+----+-------------+-----+----------+----------+
|  0| 0.0|          2.0|false|1573804800|1573804810|
|  0| 0.0|          2.0|false|1573804810|1573804820|
|  0| 0.0|          2.0|false|1573804820|1573804830|
|  0| 0.0|          2.0|false|1573804830|1573804840|
|  0| 0.0|          2.0|false|1573804840|1573804850|
|  0| 0.1|-1.57380483E8|false|1573804850|1573804860|
|  0| 0.0|          3.0|false|1573804860|1573804870|
|  0| 0.0|          3.0|false|1573804870|1573804880|
|  0| 0.0|          3.0|false|1573804880|1573804890|
|  0| 0.0|          3.0|false|1573804890|1573804900|
|  0| 0.0|          3.0|false|1573804900|1573804910|
|  0|-0.1| 1.57380494E8|false|1573804910|1573804920|
|  0| 0.0|          2.0|false|1573804920|1573804930|
|  0| 0.0|          2.0|false|1573804930|1573804940|
|  0| 0.0|          2.0|false|1573804940|1573804950|
|  0| 0.0|          2.0|false|1573804950|1573804960|
|  0| 0.0|          2.0|false|1573804960|1573804970|
|  0| 0.1|-1.57380495E8|false|1573804970|1573804980|
|  0| 0.1|-1.57380495E8|false|1573804970|1573804980|
|  0| 0.0|          3.0|false|1573804980|1573804990|
+---+----+-------------+-----+----------+----------+
only showing top 20 rows