In [23]:
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import col, when, unix_timestamp
sc = SparkContext.getOrCreate()
df = spark.read.option("header",True).option("inferSchema",True).csv("C:/Users/Winsido/Desktop/VGP-week3-data.csv")
df.printSchema()

root
 |-- kit_id: integer (nullable = true)
 |-- participant_id: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- PM2-5: string (nullable = true)
 |-- PM10: string (nullable = true)
 |-- PM1-0: string (nullable = true)
 |-- NO2: string (nullable = true)
 |-- BC: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- event: string (nullable = true)

In [24]:
df = df.withColumn(
    ("PM2-5"),
    when(
        col("PM2-5") == "NULL",
        None
    ).otherwise(col("PM2-5"))
)
df = df.withColumn(
    ("PM10"),
    when(
        col("PM10") == "NULL",
        None
    ).otherwise(col("PM10"))
)
df = df.withColumn(
    ("PM1-0"),
    when(
        col("PM1-0") == "NULL",
        None
    ).otherwise(col("PM1-0"))
)
df = df.withColumn(
    ("NO2"),
    when(
        col("NO2") == "NULL",
        None
    ).otherwise(col("NO2"))
)
df = df.withColumn(
    ("activity"),
    when(
        col("activity") == "NULL",
        None
    ).otherwise(col("activity"))
)
df = df.withColumn(
    ("event"),
    when(
        col("event") == "NULL",
        None
    ).otherwise(col("event"))
)

In [25]:
df.show()

+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|kit_id|participant_id|               time|             lat|             lon|PM2-5|PM10|PM1-0| NO2|  BC|activity|event|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|    80|       9999964|2019-11-14 09:00:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:50|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:50|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:50|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:03:00|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:03:10|       48.771765|2.00590333333333| null|null| null|null|NULL|    null| null|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
only showing top 20 rows

In [4]:
df.where(col("activity").isNotNull()).show()

+------+--------------+-------------------+----------------+----------------+-----+----+-----+---+---+--------+-------------------+
|kit_id|participant_id|               time|             lat|             lon|PM2-5|PM10|PM1-0|NO2| BC|activity|              event|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+---+---+--------+-------------------+
|    80|       9999964|2019-11-15 09:00:00|48.7717183333333|2.00601666666667| null|null| null|  7|369|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:00:10|48.7717183333333|2.00601666666667| null|null| null|  7|369|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:00:20|48.7717183333333|2.00601666666667| null|null| null|  7|369|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:00:30|48.7717216666667|2.00587833333333| null|null| null|  7|369|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:00:40|48.7717266666667|2.00586333333333| null|null| null|  7|369|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:00:50|48.7717266666667|2.00586333333333| null|null| null|  7|369|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:01:00|48.7717266666667|2.00586333333333| null|null| null|  6|396|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:01:10|48.7717266666667|2.00586333333333| null|null| null|  6|396|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:01:20|48.7717266666667|2.00586333333333| null|null| null|  6|396|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:01:30|48.7717266666667|2.00586333333333| null|null| null|  6|396|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:01:40|48.7717266666667|2.00586333333333| null|null| null|  6|396|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:01:50|48.7717266666667|2.00586333333333| null|null| null|  6|396|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:02:00|48.7717266666667|2.00586333333333| null|null| null|  6|382|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:02:10|48.7717266666667|2.00586333333333| null|null| null|  6|382|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:02:20|48.7717266666667|2.00586333333333| null|null| null|  6|382|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:02:30|48.7717266666667|2.00586333333333| null|null| null|  6|382|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:02:40|48.7717266666667|2.00586333333333| null|null| null|  6|382|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:02:50|48.7717266666667|2.00586333333333| null|null| null|  6|382|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:03:00|48.7717266666667|2.00586333333333|    3|   4|    4|  7|376|  Bureau|Arrêter De Cuisiner|
|    80|       9999964|2019-11-15 09:03:10|48.7717266666667|2.00586333333333|    3|   4|    4|  7|376|  Bureau|Arrêter De Cuisiner|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+---+---+--------+-------------------+
only showing top 20 rows

In [5]:
df = df.sort("time")
df.show(10)

+------+--------------+-------------------+----------------+--------+-----+----+-----+----+----+--------+-----+
|kit_id|participant_id|               time|             lat|     lon|PM2-5|PM10|PM1-0| NO2|  BC|activity|event|
+------+--------------+-------------------+----------------+--------+-----+----+-----+----+----+--------+-----+
|    80|       9999964|2019-11-14 09:00:00|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:10|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:20|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:30|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:40|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:50|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:00|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:10|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:20|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:30|48.7717766666667|2.006005| null|null| null|null|NULL|    null| null|
+------+--------------+-------------------+----------------+--------+-----+----+-----+----+----+--------+-----+
only showing top 10 rows

In [6]:
df.printSchema()

root
 |-- kit_id: integer (nullable = true)
 |-- participant_id: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- PM2-5: string (nullable = true)
 |-- PM10: string (nullable = true)
 |-- PM1-0: string (nullable = true)
 |-- NO2: string (nullable = true)
 |-- BC: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- event: string (nullable = true)

In [16]:
#Pas trop bon
from pyspark.sql.types import DoubleType, DateType,TimestampType
from pyspark.sql.functions import to_timestamp
df = df.withColumn("PM2-5",df["PM2-5"].cast(DoubleType()))
#df = df.withColumn("time",df["time"].cast(DateType()))
df.printSchema()
df.filter(df["PM2-5"] > 60).show(30)

root
 |-- kit_id: integer (nullable = true)
 |-- participant_id: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- PM2-5: double (nullable = true)
 |-- PM10: string (nullable = true)
 |-- PM1-0: string (nullable = true)
 |-- NO2: string (nullable = true)
 |-- BC: string (nullable = true)
 |-- activity: string (nullable = true)
 |-- event: string (nullable = true)

+------+--------------+-------------------+----------------+----------------+-----+----+-----+---+----+----------+-----+
|kit_id|participant_id|               time|             lat|             lon|PM2-5|PM10|PM1-0|NO2|  BC|  activity|event|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+---+----+----------+-----+
|    88|       9999920|2019-11-15 12:16:00|48.8066483333333|         2.15792| 73.0|  76|   76|  0|NULL|  Domicile|Fumer|
|    88|       9999920|2019-11-15 12:16:50|48.8066466666667|         2.15809| 73.0|  76|   76|  0|NULL|  Domicile|Fumer|
|    88|       9999920|2019-11-15 12:17:00|        48.80666|        2.158165| 68.0|  73|   73|  3|NULL|  Domicile|Fumer|
|    88|       9999920|2019-11-15 12:17:10|48.8066683333333|2.15812833333333| 68.0|  73|   73|  3|NULL|  Domicile|Fumer|
|    88|       9999920|2019-11-15 12:17:20|48.8066133333333|2.15816666666667| 68.0|  73|   73|  3|NULL|  Domicile|Fumer|
|    88|       9999920|2019-11-15 12:17:30|48.8066683333333|2.15825166666667| 68.0|  73|   73|  3|NULL|  Domicile|Fumer|
|    88|       9999920|2019-11-15 12:17:40|48.8066966666667|          2.1583| 68.0|  73|   73|  3|NULL|  Domicile|Fumer|
|    88|       9999920|2019-11-21 12:52:00|48.8548066666667|2.36272333333333| 61.0|  63|   63| 23|NULL|Restaurant| null|
|    88|       9999920|2019-11-21 12:52:10|       48.854875|2.36253833333333| 61.0|  63|   63| 23|NULL|Restaurant| null|
|    88|       9999920|2019-11-21 12:52:20|48.8548983333333|2.36262833333333| 61.0|  63|   63| 23|NULL|Restaurant| null|
|    88|       9999920|2019-11-21 12:52:30|48.8545483333333|        2.362685| 61.0|  63|   63| 23|NULL|Restaurant| null|
|    88|       9999920|2019-11-21 12:54:20|       48.854415|2.36252833333333| 94.0|  98|   98| 24|NULL|Restaurant| null|
|    88|       9999920|2019-11-21 12:54:30|48.8544766666667|          2.3625| 94.0|  98|   98| 24|NULL|Restaurant| null|
|    88|       9999920|2019-11-21 12:54:40|        48.85458|2.36239166666667| 94.0|  98|   98| 24|NULL|Restaurant| null|
|    88|       9999920|2019-11-21 12:54:50|        48.85464|2.36250666666667| 94.0|  98|   98| 24|NULL|Restaurant| null|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+---+----+----------+-----+

In [8]:
df.show()

+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|kit_id|participant_id|               time|             lat|             lon|PM2-5|PM10|PM1-0| NO2|  BC|activity|event|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|    80|       9999964|2019-11-14 09:00:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:50|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:50|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:50|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:03:00|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:03:10|       48.771765|2.00590333333333| null|null| null|null|NULL|    null| null|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
only showing top 20 rows

In [22]:
df.printSchema()

AttributeError: 'NoneType' object has no attribute 'printSchema'

In [38]:
df = df.withColumn('time',unix_timestamp('time', 'yyyy-MM-dd HH:mm:ss').alias('time'))
df.show()

AnalysisException: cannot resolve 'unix_timestamp(`time`, 'yyyy-MM-dd HH:mm:ss')' due to data type mismatch: argument 1 requires (string or date or timestamp) type, however, '`time`' is of bigint type.;;
'Project [kit_id#961, participant_id#962, unix_timestamp(time#1736L, yyyy-MM-dd HH:mm:ss, Some(Europe/Paris)) AS time#1752, lat#964, lon#965, PM2-5#985, PM10#998, PM1-0#1011, NO2#1024, BC#970, activity#1037, event#1050]
+- Project [kit_id#961, participant_id#962, unix_timestamp(time#963, yyyy-MM-dd HH:mm:ss, Some(Europe/Paris)) AS time#1736L, lat#964, lon#965, PM2-5#985, PM10#998, PM1-0#1011, NO2#1024, BC#970, activity#1037, event#1050]
   +- Project [kit_id#961, participant_id#962, time#963, lat#964, lon#965, PM2-5#985, PM10#998, PM1-0#1011, NO2#1024, BC#970, activity#1037, CASE WHEN (event#972 = NULL) THEN cast(null as string) ELSE event#972 END AS event#1050]
      +- Project [kit_id#961, participant_id#962, time#963, lat#964, lon#965, PM2-5#985, PM10#998, PM1-0#1011, NO2#1024, BC#970, CASE WHEN (activity#971 = NULL) THEN cast(null as string) ELSE activity#971 END AS activity#1037, event#972]
         +- Project [kit_id#961, participant_id#962, time#963, lat#964, lon#965, PM2-5#985, PM10#998, PM1-0#1011, CASE WHEN (NO2#969 = NULL) THEN cast(null as string) ELSE NO2#969 END AS NO2#1024, BC#970, activity#971, event#972]
            +- Project [kit_id#961, participant_id#962, time#963, lat#964, lon#965, PM2-5#985, PM10#998, CASE WHEN (PM1-0#968 = NULL) THEN cast(null as string) ELSE PM1-0#968 END AS PM1-0#1011, NO2#969, BC#970, activity#971, event#972]
               +- Project [kit_id#961, participant_id#962, time#963, lat#964, lon#965, PM2-5#985, CASE WHEN (PM10#967 = NULL) THEN cast(null as string) ELSE PM10#967 END AS PM10#998, PM1-0#968, NO2#969, BC#970, activity#971, event#972]
                  +- Project [kit_id#961, participant_id#962, time#963, lat#964, lon#965, CASE WHEN (PM2-5#966 = NULL) THEN cast(null as string) ELSE PM2-5#966 END AS PM2-5#985, PM10#967, PM1-0#968, NO2#969, BC#970, activity#971, event#972]
                     +- RelationV2[kit_id#961, participant_id#962, time#963, lat#964, lon#965, PM2-5#966, PM10#967, PM1-0#968, NO2#969, BC#970, activity#971, event#972] csv file:/C:/Users/Winsido/Desktop/VGP-week3-data.csv

In [35]:
pandas_df = df.toPandas()
df.show()

+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|kit_id|participant_id|               time|             lat|             lon|PM2-5|PM10|PM1-0| NO2|  BC|activity|event|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
|    80|       9999964|2019-11-14 09:00:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:00:50|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:01:50|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:00|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:10|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:20|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:30|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:40|48.7717766666667|        2.006005| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:02:50|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:03:00|48.7717466666667|2.00590833333333| null|null| null|null|NULL|    null| null|
|    80|       9999964|2019-11-14 09:03:10|       48.771765|2.00590333333333| null|null| null|null|NULL|    null| null|
+------+--------------+-------------------+----------------+----------------+-----+----+-----+----+----+--------+-----+
only showing top 20 rows